@charset "utf-8";
h1{color: white; font-family: 'Montserrat'; padding: 30px 100px; font-size: 2rem;}
a{color: black;
text-decoration: none; font-family: 'Montserrat';}

body{margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;}

/* header css */
header {
  display: flex;
  width: 100%;
/*headerの太さ*/  
  height: 100px;
  position:fixed;
top:0px;
  background-color: #da3f6d;
  align-items: center;}
 
.title {
  margin-right: auto;
  margin-right: 260px;}
 
.menu-item {
  list-style: none;
  display: inline-block;
/*項目の間隔*/  
  padding: 20px;}

/*Logoの位置*/
 p{
  position: absolute;
  top: 1px;
  left: 20px;
  width: 500px;
  height: 500px;}
