@charset "utf-8";
h1{color: white; font-family: 'Caveat', cursive;text-indent: 1em; padding: 30px 40px;}
a{color: black;
text-decoration: none; font-family: 'Caveat', cursive;}
body{margin-top: 0;margin-left: 0;margin-right: 0;margin-bottom: 0;
}
/* header css */
header {
  display: flex;
  width: 100%;
/*headerの太さ*/  
  height: 100px;
  position:fixed;
top:0px;
  background-color: rgba(0,0,0,0.6);
  align-items: center;
}
 
.title {
  margin-right: auto;
  margin-right: 400px;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
/*項目の間隔*/  
  padding: 20px;
}
/*Logoの位置*/
 p{
  position: absolute;
  top: 5px;
  left: 10px;
  width: 500px;
  height: 500px;
}
